.sprites { background: url(sprites.png) no-repeat; }
.blue-tag-24 { width: 24px; height: 24px; background-position: -101px 0; }
.comment32 { width: 32px; height: 32px; background-position: 0 -101px; }
.comment { width: 16px; height: 16px; background-position: -33px -134px; }
.commentblack32 { width: 32px; height: 32px; background-position: -33px -101px; }
.facebook-icon-grey-16x16 { width: 16px; height: 16px; background-position: -33px -151px; }
.facebook-icon-grey-32 { width: 32px; height: 32px; background-position: 0 -134px; }
.facebook_invite-166x42 { width: 166px; height: 42px; background-position: -132px 0; }
.facebook_share_button { width: 122px; height: 42px; background-position: -177px -89px; }
.fb-100 { width: 100px; height: 100px; background-position: 0 0; }
.fb-icon-32 { width: 32px; height: 32px; background-position: -117px -140px; }
.fb-icon-boxblue-16 { width: 16px; height: 16px; background-position: -83px -152px; }
.gmail-32 { width: 32px; height: 32px; background-position: -50px -152px; }
.gplus-16 { width: 16px; height: 16px; background-position: -100px -152px; }
.gplus-32 { width: 32px; height: 32px; background-position: 0 -167px; }
.gplus-64 { width: 64px; height: 64px; background-position: -135px -211px; }
.gplus-boxgray-16 { width: 16px; height: 16px; background-position: -33px -168px; }
.grid22_16x16 { width: 16px; height: 16px; background-position: -83px -169px; }
.grid-two-up-2x { width: 16px; height: 16px; background-position: -100px -169px; }
.heart32 { width: 32px; height: 32px; background-position: -50px -185px; }
.heart-2x { width: 16px; height: 16px; background-position: -118px -173px; }
.icon-comment { width: 14px; height: 13px; background-position: -33px -202px; }
.icon-crown { width: 27px; height: 26px; background-position: -101px -73px; }
.icon-like-active { width: 12px; height: 12px; background-position: -117px -100px; }
.icon-like-cek { width: 12px; height: 12px; background-position: 0 -320px; }
.icon-like { width: 13px; height: 12px; background-position: -50px -134px; }
.instagram50 { width: 50px; height: 50px; background-position: -66px -101px; }
.instagram-icon-grey-16x16 { width: 16px; height: 16px; background-position: -33px -185px; }
.instagram-login-button { width: 200px; height: 30px; background-position: -97px -314px; }
.instagram-login-light { width: 183px; height: 37px; background-position: -114px -276px; }
.like-icon-blue-16 { width: 16px; height: 16px; background-position: -118px -190px; }
.like-icon-grey20 { width: 20px; height: 21px; background-position: -13px -320px; }
.list-2x { width: 16px; height: 16px; background-position: -118px -207px; }
.list { width: 8px; height: 8px; background-position: -135px -173px; }
.list_icon_24x13 { width: 24px; height: 13px; background-position: -101px -25px; }
.logo-fb { width: 26px; height: 26px; background-position: -150px -140px; }
.logo-twitter { width: 26px; height: 26px; background-position: -135px -182px; }
.path-icon-16 { width: 16px; height: 16px; background-position: -33px -216px; }
.path-logo-33 { width: 33px; height: 33px; background-position: -84px -186px; }
.play { width: 46px; height: 50px; background-position: -130px -89px; }
.play_resize { width: 30px; height: 33px; background-position: -101px -39px; }
.printer-icon-16 { width: 16px; height: 16px; background-position: 0 -233px; }
.sharetagram-icon-60 { width: 60px; height: 60px; background-position: -36px -284px; }
.sharetagram-logo { width: 168px; height: 45px; background-position: -132px -43px; }
.symbol-check { width: 35px; height: 35px; background-position: -162px -175px; }
.symbol-delete { width: 35px; height: 35px; background-position: 0 -284px; }
.symbol-sync { width: 50px; height: 50px; background-position: -84px -224px; }
.thumbup-16 { width: 16px; height: 16px; background-position: -17px -233px; }
.tumblr-32 { width: 32px; height: 32px; background-position: 0 -200px; }
.tumblr-gray-16 { width: 16px; height: 16px; background-position: -34px -233px; }
.tw-icon-boxcolor-16 { width: 16px; height: 16px; background-position: 0 -250px; }
.tweet-button-122x42 { width: 122px; height: 42px; background-position: -177px -132px; }
.twitter-100 { width: 100px; height: 100px; background-position: -200px -175px; }
.twitter-boxgray-16 { width: 16px; height: 16px; background-position: 0 -267px; }
.twitter-icon-32 { width: 32px; height: 32px; background-position: -51px -218px; }
.twitter-icon-grey-16x16 { width: 16px; height: 16px; background-position: -97px -275px; }
.twitter-icon-grey-32 { width: 32px; height: 32px; background-position: -17px -250px; }
.userplus32 { width: 32px; height: 32px; background-position: -50px -251px; }